@import url(https://cloud.typography.com/6563836/7533992/css/fonts.css);
:root {
  --primary-color: rgb(0, 179, 238);
  --main-spacing: 0.1rem;
  --main-transition: all 0.3s linear;
  --main-white: white;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', 'Varela Round', 'Lucida Grande', Helvetica, Arial,
    sans-serif;
}

.top-nav {
  background: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 1rem 3rem 1rem;
}

.top-nav img {
  height: 100%;
}

.products {
  padding: 1rem;
  text-align: center;
  .product-cards {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-column-gap: 0.5rem;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(auto-fill, 220px);
    align-items: center;
  }

  .card {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 8px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card img {
    width: 220px;
    height: 220px;
  }

  .cart-btn {
    background-color: #00b3ee;
    color: white;
    border-radius: 6px;
    width: 134px;
    height: 26px;
    transition: var(--main-transition);
  }

  .cart-btn:hover {
    opacity: 0.5;
  }
}

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: var(--main-transition);

  z-index: 2;
  visibility: hidden;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 20vw;
  height: 100%;
  overflow: scroll;
  background: var(--main-white);
  padding: 1.5rem;
  transition: var(--main-transition);
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: dotted var(--primary-color) 1px;
}
.cart-container {
  margin-top: 1rem;
}
.cart-item {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 8px rgba(0, 0, 0, 0.08);
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: center;
  img {
    width: 100px;
    height: auto;
  }
  h1 {
    font-size: 0.9rem;
  }
  h2 {
    font-size: 0.7rem;
  }
  h3 {
    font-size: 0.7rem;
    text-decoration: line-through;
  }
  h4 {
    font-size: 0.9rem;
    color: red;
  }
}
.cart-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: auto;
}
.show-overlay {
  visibility: visible;
}

.cart-open {
  transform: translateX(0);
}

.close-cart-btn {
  background: var(--primary-color);
  color: var(--main-white);
  width: 100%;
  font-size: 1rem;
}

.cart-remove-btn {
  background: var(--primary-color);
  color: var(--main-white);
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 1rem;
}

.cart-checkout-btn {
  background: var(--primary-color);
  color: var(--main-white);
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
  margin-top: 1rem;
}
