@import url(https://cloud.typography.com/6563836/7533992/css/fonts.css);
:root {
  --primary-color: rgb(0, 179, 238);
  --main-spacing: 0.1rem;
  --main-transition: all 0.3s linear;
  --main-white: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', 'Varela Round', 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.top-nav {
  background: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  padding: 1rem 3rem 1rem;
}

.top-nav .show-cart-btn {
  background-color: var(--main-white);
  color: var(--primary-color);
  border-radius: 6px;
  width: 134px;
  height: 75%;
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
  padding: 0.5rem;
  font-size: 1rem;
}

.top-nav img {
  height: 100%;
}

.products {
  padding: 1rem;
  text-align: center;
}

.products .product-cards {
  width: 90vw;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 0.5rem;
  grid-row-gap: 2rem;
  -ms-grid-columns: (220px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 220px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .card {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .card img {
  max-width: 220px;
  max-height: 220px;
  min-width: 220px;
  min-height: 220px;
}

.products .cart-btn {
  background-color: #00b3ee;
  color: white;
  border-radius: 6px;
  width: 134px;
  height: 25px;
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
}

.products .cart-btn:hover {
  opacity: 0.5;
}

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
  z-index: 2;
  visibility: hidden;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 20vw;
  height: 100%;
  overflow: scroll;
  background: var(--main-white);
  padding: 1.5rem;
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: dotted var(--primary-color) 1px;
}

.cart-container {
  margin-top: 1rem;
}

.cart-item {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 8px rgba(0, 0, 0, 0.08);
  width: 100%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  text-align: center;
}

.cart-item img {
  width: 100px;
  height: auto;
}

.cart-item h1 {
  font-size: 0.9rem;
}

.cart-item h2 {
  font-size: 0.7rem;
}

.cart-item h3 {
  font-size: 0.7rem;
  text-decoration: line-through;
}

.cart-item h4 {
  font-size: 0.9rem;
  color: red;
}

.cart-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin: auto;
}

.show-overlay {
  visibility: visible;
}

.cart-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.close-cart-btn {
  background: var(--primary-color);
  color: var(--main-white);
  width: 100%;
  font-size: 1rem;
}

.cart-remove-btn {
  background: var(--primary-color);
  color: var(--main-white);
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 1rem;
}

.cart-checkout-btn {
  background: var(--primary-color);
  color: var(--main-white);
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
  margin-top: 1rem;
}
/*# sourceMappingURL=styles.css.map */